/* 之前的样式保持不变 */

header {
  text-align: left;
  padding: 0px;
  background-color: #333;
  color: #fff;
}

.title-bar {
  background-color: #eeab5e; /* 设置标题栏的背景颜色为蓝色 */
  padding: 5px 0;
}

.text-left {
  margin: 10px 10px;
  text-align: center;
}

h1 {
  margin: 0;
}

nav {
  margin-top: 10px;
}

button {
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  cursor: pointer;
}
button:last-child {
  margin-right: 0; /* 去除最后一个按钮的右边距，使按钮之间没有间隔 */
}

.button-large {
  width: 180px;
  height: 40px;
  margin-left: 100px;
  font-size: 30px;
}

section {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  color: #333;
}

ul {
  padding: 0;
}

li {
  margin-left: 5%;
  margin-bottom: 0.5%;
}

.image-container {
  float: left; /* 图片浮动到左侧 */
  margin-right: 20px; /* 右侧留出一些间距 */
  margin-left: 100px; /* 右侧留出一些间距 */
  margin-top: 60px;
}

.image-container img {
  padding: 20px 60px;
  width: 200px; /* 设置图片的宽度 */
  height: auto; /* 自动计算图片的高度，保持图片比例 */
}
body {
  background-color: #f0f0f0;
  background: url(../image/bg.png);
  line-height: 150%;
  color: #111;
  margin: 0px;
  padding-top: 86px; /* for fixed navbar */
}
name {
  font-family: "Cambria", Verdana, Helvetica, sans-serif;
  font-size: 45px;
}
heading {
  font-family: "Arial", Verdana, Helvetica, sans-serif;
  font-size: 23px;
  font-weight: 700;
}
projecttitle {
  font-family: "Arial", Verdana, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #2a2aa5;
}
pintro {
  font-family: "Arial", Verdana, Helvetica, sans-serif;
  font-size: 14px;
}
