
:root {
  --VRARMR:  #82c1ed;
  --HAI:   #e2818c;
  --A11Y: #51cbae;
  --HBM: #d3ace2;
}
header {
  text-align: left;
  padding: 0px;
  background-color: #333;
  color: #fff;
}

.title-bar {
  background-color: #eeab5e; /* 设置标题栏的背景颜色为蓝色 */
  padding: 0% 0%;
}

.text-left {
  margin: 10px 10px;
  text-align: center;
}

h1 {
  margin: 0;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333333a5;
  color: white;
  text-align: left;

  padding: 0px;
}
.nav-container {
  width: 100%;
  max-width: 1200px;
  border: 0px;
  border-spacing: 0px;
  border-collapse: separate;
  margin-right: auto;
  margin-left: auto;
}

.nav-container a {
  color: white;
  text-decoration: none;
  padding: 14px 16px;
  display: inline-block;
}

.nav-container a:hover {
  background-color: #ddd;
  color: black;
}

button {
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  cursor: pointer;
}
button:last-child {
  margin-right: 0; /* 去除最后一个按钮的右边距，使按钮之间没有间隔 */
}

.button-large {
  width: 180px;
  height: 40px;
  margin-left: 100px;
  font-size: 30px;
}

section {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  color: #333;
}

ul {
  padding: 0;
}

li {
  margin-left: 5%;
  margin-bottom: 0.5%;
}

.image-container {
  float: left; /* 图片浮动到左侧 */
  margin-right: 20px; /* 右侧留出一些间距 */
  margin-left: 100px; /* 右侧留出一些间距 */
  margin-top: 60px;
}

.image-container img {
  padding: 20px 60px;
  width: 200px; /* 设置图片的宽度 */
  height: auto; /* 自动计算图片的高度，保持图片比例 */
}
body {
  background: url(../image/bg.png);
  /* background-color: #f0f0f0; */
  line-height: 150%;
  color: #111;
  margin: 0px;
  padding-top: 86px; /* for fixed navbar */
}
name {
  font-family: "Cambria", Verdana, Helvetica, sans-serif;
  font-size: 25px;
  text-align: center;
  margin-top: 6px;
  margin-bottom: 12px;
  display: block;

}
chinesename {
  font-family: "Cambria", Verdana, Helvetica, sans-serif;
  font-size: 18px;
  color: #3c3d37;
  text-align: center;
  margin-bottom: 6px;  
  display: block;
  
}

papertitle {
  font-family: "Arial", Verdana, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #b90000;
  margin-bottom: 6px;  
  
}

papertitle icon {
  --tag-bg: var(--blue); 
  display: inline-block;
  background: var(--tag-bg);
  color: #fff;
  font-size: .70em;
  font-weight: 600;
  line-height: 1;
  padding: 0.25em 0.55em;
  border-radius: 0.9em;
  white-space: nowrap;
  pointer-events: none;        /* 不挡鼠标 */
}

papertitle icon[color="VRARMR"]    { --tag-bg: var(--VRARMR);   }
papertitle icon[color="HAI"]  { --tag-bg: var(--HAI); }
papertitle icon[color="A11Y"]   { --tag-bg: var(--A11Y);  }
papertitle icon[color="HBM"]   { --tag-bg: var(--HBM);  }

heading {
  font-family: "Arial", Verdana, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 700;
}
projecttitle {
  font-family: "Arial", Verdana, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #2a2aa5;
}
pintro {
  font-family: "Arial", Verdana, Helvetica, sans-serif;
  font-size: 14px;
}
#highlightText {
  padding: 10px;
  border: 2px solid #ffff05; /* 边缘颜色 */
  background-color: #f2ffba; /* 背景颜色 */
  color: #333; /* 文字颜色 */
  border-radius: 5px; /* 圆角边框 */
  outline: none; /* 去除默认的外边框效果 */
}

#TableBox {
  padding: 10px;
  border: 2px solid #0066ff; /* 边缘颜色 */
  background-color: rgb(255, 254, 245); /* 背景颜色 */
  color: #333; /* 文字颜色 */
  border-radius: 5px; /* 圆角边框 */
  outline: none; /* 去除默认的外边框效果 */
}
